/*****
alabut.com - version six.



Some rights reserved. This work is licensed by Al Abut
under a Creative Commons License
(Attribution-NonCommercial-ShareAlike 2.0)



created for 2005 with tender loving care. enjoy.
feel free to dig in and learn - that's how I got here.
just don't rip me off or I'll have to hunt you down.
*****/






/*****
global styles and default browser crap removal
*****/

* {
	margin: 0;
	padding: 0;
}

body {
	background: #666C89 url(../graphics_2005/bg02_3.jpg) repeat-x;
	font-family: "Lucida Grande", Verdana, Geneva, sans-serif;
	/* Helvetica looks beautiful in the h2's, but messes up the nav
	a bit, unfortunately. Next time. */
	text-align: center;
}

#skipnav {
	display: none;
}

/* 	Remove link underlines from the sidebar and footer, since
	link underlines tend to make text less readable - underlines
	obscure the shapes of the lower halves of words. This will
	especially help the readability of the sidebar, since it's
	mostly a long list of links.
*/
:link, :visited {
	text-decoration: none;
}

/*	Add the underlines back into the main content column, however,
	since that area consists of larger chunks of writing with links
	tucked into it and underlines help the visual tracking and
	findability of the links amongst a sea of text.
*/
#content :link, #content :visited {
	text-decoration: underline;
}

/*	Link colors. guess what? blue is rad. rocking it old school,
	with red for visited.
*/
:link {
	color: #009;
}

a:hover, a:visited:hover {
	color: #fff;
}

a:hover {
	background-color: #006;
}

a:visited:hover {
	background-color: #600;
}

/* whoever thought blue linked image borders were a good idea? */
a img, :link img, :visited img { border:none }






/*****
page layout
*****/

#page_outer {
	background: #fff;
	border-left: 1px solid #333;
	border-right: 1px solid #333;
	margin: 0 auto 0 auto;
	width: 812px;
}

#page_inner {
	padding: 15px 15px 10px 15px;
	text-align: left;
}

#content h1, #content-intro h1, #sidebar h1,
#featured-project h1, #latest-writing h1 {
	display: none;
}






/*****
nameplate header and photo banner
*****/

h1 {
	background: url(../graphics_2005/logo_bw_2006.gif) no-repeat;
	height: 92px;
}

h1 a, h1 a:visited {
	display: block;
	height: 0 !important;
	height /**/:92px; /* for IE5.5's bad box model */
	margin-left: 229px;
	overflow: hidden;
	padding-top: 92px;
	width: 324px;
}

h1 a:hover, h1 a:visited:hover {
	background: transparent url(../graphics_2005/logo_hover.gif) no-repeat;
}






/*****
navigation
*****/

#navigation {
	margin-top: 15px;
}

#navigation ul {
	font-size: 12px;
	list-style: none;
	margin: 7px 0 15px 0;
}

#navigation li {
	display: inline; /* ie-specific recent addition */
	margin: 1px 0 0 0;
}

#navigation a, #navigation a:visited {
	background: #5A5C71;
	color: #fff;
	display: block;
	margin: 1px 0 0 0; /* ie-specific recent addition */
	padding: 1px 0 1px 3px;
	text-decoration: none;
}

#navigation a:hover,
#location-home #home a,
#location-about #about a,
#location-resume #about a,
#location-portfolio #portfolio a,
#location-writing #writing a,
#location-writing-archives #writing a,
#location-contact #contact a
{
/*
	background: #EF684A url(../graphics_2005/stripes_orange.gif);
*/
	background: #EF684A;
	color: #fff;
	text-decoration: none;
}






/*****
subnavigation, portfolio section
*****/

.sansai #sansai a,
.sbrp #sbrp a,
.jeff #jeff a,
.wolfkatz #wolfkatz a,
.immuno #immuno a,
.alabut #alabut a,
.alabutveefour #alabutveefour a,
.bioredesign #bioredesign a,
.biofirstsite #biofirstsite a,
.biopreapp #biopreapp a,
.flashslideshow #flashslideshow a,
.dentrek #dentrek a,
.biobuildings #biobuildings a,
.lscalendar #lscalendar a,
.bioxml #bioxml a,
.biointranet #biointranet a
{
	background: #EF684A;
	color: #fff;
}

#location-portfolio #sidebar li {
	display: inline; /* ie-specific recent addition */
}

#location-portfolio #sidebar a {
	display: block;
	padding-left: 3px;
}

#location-portfolio #sidebar a:visited:hover {
	background: #571C8C;
	color: #fff;
}






/*****
content
	(global)
*****/

h2 {
	color: #333;
	letter-spacing: -1px;
}

#content, #content-intro {
	font-size: 12px;
}

#content h2 {
	background: url(../graphics_2005/gray_stripes.gif) repeat-x;
	font-size: 18px;
	padding-top: 22px;
}

#content h2 a {
	color: #006;
}

#content h2 a:hover {
	background: #006;
	color: #fff;
}

#content h2 a:visited {
	color: #600;
}

#content h2 a:visited:hover {
	background: #600;
	color: #fff;
}

.post {
	background: url(../graphics_2005/post_divider.gif) 50% 100% no-repeat;
	margin-bottom: 50px;
	padding-bottom: 71px;
}

p {
	padding: 10px 0 0 0;
}

address {
	display: inline;
}

#form-search {
	text-align:left;

}

#form-search fieldset {
	border: 1px solid #ccc;
	margin-top: 5px;
	padding: 6px;
}

#form-search legend {
	color: #666;
	font-size: 10px;
}

#form-search .hidden {
	display: none;
}

#form-search #url {
	width: 10em;
}

#form-search .search {
	margin: 0 0 0 5px;
}






/*****
content and sidebar
	(main = full, no sidebar)
	(pages: resume)
*****/

#location-resume #content h1 {
	display: none;
}

#location-resume #content h2 {
	margin: 20px 0 0 0;
}

#location-resume #content p {
	margin: 0;
}

#location-resume #content h3 {
	font-size: 12px;
	margin-top: 10px;
}

#location-resume #content h4 {
	font-size: 12px;
	font-weight: normal;
}

#location-resume #content h5 {
	color: #333;
	font-size: 11px;
	font-weight: normal;
}

#location-resume #content ul {
	list-style: circle;
	margin-left: 20px;
}






/*****
content and sidebar
	(main = 3/4 and left)
	(pages: writing, writing-archives)
*****/

#location-writing-archives #content {
	background: #fff;
	color: #1A1A1A;
	float: left;
	font-size: 12px;
	width: 559px;
}

#location-writing-archives p,
#location-writing-archives li {
	line-height: 140%;
}

#location-writing-archives p {
	margin: 10px 0 0 0;
	padding: 0;
}

#location-writing-archives h3 {
	border-bottom: 1px solid #e6e6e6;
	color: #1A1A1A;
	font-size: 12px;
	font-weight: bold;
	margin: 20px 0 0 0;
	padding: 5px 0 3px 0;
}

#location-writing-archives h3.date {
	border: none;
	color: #666;
	font-size: 10px;
	font-weight: normal;
	margin: 2px 0 10px 0;
	padding: 0;
}

#location-writing-archives #sidebar {
	background: #fff url(../graphics_2005/gray_stripes.gif) repeat-x;
	float: right;
	font-size: 11px;
}

/* NOTE: alter the spacing of the del.icio.us sidebar links */

#location-writing-archives #sidebar ul {
	list-style: none;
}

#location-writing-archives #sidebar li {
	margin-top: 5px;
}

#location-writing-archives #sidebar h2 {
	border-top: 3px solid #f5f5f5;
	font-size: 11px;
	letter-spacing: -1px;
	margin-top: 11px;
	padding-top: 11px;
}

#location-writing-archives #sidebar #first {
	border: none;
}

#location-writing-archives #sidebar {
	width: 193px;
}

#location-writing-archives #sidebar #book {
	text-align: left;
}

#location-writing-archives #sidebar #book img {
	border: 1px solid #ccc;
	margin-top: 5px;
	padding: 3px;
}

#location-writing-archives #sidebar #book a:hover {
	background: none;
	color: red;
}

#location-writing-archives #sidebar #ad {
	margin-top: 20px;
}

#location-writing-archives #archivemenu {
/*	border: 1px solid red;*/
	margin-top: 10px;
	width: 100%;
}

#location-writing-archives #content h2 {
        font-size: 50px;
	letter-spacing: -3px;
	padding-bottom: 5px;
}

#location-writing-archives #content a {
	text-decoration: underline;
}

#location-writing-archives #content a:hover {
	text-decoration: none;
}

#location-writing-archives #content img {
	border: 1px solid #ccc;
	float: right;
	margin: 0 0 5px 5px;
	padding: 3px;
}

#location-writing-archives #content img.banner {
	background: #ccc;
	border: 1px solid #999;
	float: none;
	margin: 5px 0;
	padding: 3px;
}

#location-writing-archives #content blockquote {
	background-color: #f5f5f5;
	border-bottom: 1px solid #999;
	border-top: 1px solid #999;
	line-height: 180%;
	margin: 20px;
	padding: 10px;
}

#location-writing-archives #content blockquote p {
	margin: 0;
	padding: 0;
}

#location-writing-archives #content .IM {
	background: url(../graphics_2006/IM_middle_grey.gif) repeat-y;
	border: none;
	margin: 20px 0;
	padding: 0;
	width: 402px;
}

#location-writing-archives #content .IM ul {
	background: url(../graphics_2006/IM_top.gif) no-repeat;
	list-style: none;
	margin: 0;
	padding: 25px 0 0 0;
}

#location-writing-archives #content .IM li {
	background: url(../graphics_2006/IM_middle_white.gif) repeat-y;
	margin: 0 0 2px 0;
	padding: 5px 5px 5px 25px;
}

#location-writing-archives #content .IM .IM-bottom {
	background: url(../graphics_2006/IM_bottom.gif) no-repeat 0% 100%;
	height: 20px;
}

#location-writing-archives #content ul,
#location-writing-archives #content ol {
	margin: 10px 0 0 30px;
}

#location-writing-archives #content ul {
	list-style: circle;
}

#location-writing-archives .technoratitag,
#location-writing-archives .blogPostFooter {
	background: #F1F1F1;
	border-top: 1px solid #E8E8E8;
	border-bottom: 1px solid #E8E8E8;
	color: #333;
	font-size: 10px;
	margin: 10px 0 5px 0;
	padding: 5px;
}

.technoratitag a, .technoratitag a:link {
	text-decoration: none;
}

#flickrimg1, #flickrimg2, #flickrimg3, #flickrimg4, #flickrimg5,
#flickrimg6, #flickrimg7, #flickrimg8, #flickrimg9, #flickrimg10 {
	margin: 4px 4px 0 0;
	padding: 0;
}

.blogComment {
	border-top: 1px solid #E4E4E4;
	margin-top: 15px;
	padding-top: 15px;
}

#content .blogComments h1 {
	background: url(../graphics_2005/gray_stripes.gif) 0% 0% repeat-x;
	border: none;
	display: block;
	font-size: 14px;
	height: auto;
	margin-top: 10px;
	padding-top: 30px;
}

#content .byline {
	border-bottom: 1px solid #E4E4E4;
	color: #333;
	font-size: 10px;
	margin: 5px 0 5px 0;
	padding-bottom: 15px;
}

#location-writing-archives .update {
	background: #F6E8E8;
	border: 1px solid #E3B9B9;
	padding: 5px;
}

#location-writing-archives .update strong {
	color: #900;
}






/*****
content and sidebar
	(main = half and half)
	(pages: about, writing, contact, home)
*****/

#location-about #column-one, #location-about #column-two,
#location-404 #column-one, #location-404 #column-two,
#location-writing #content, #location-writing #sidebar,
#location-contact #content, #location-contact #sidebar,
#location-home #featured-project, #location-home #latest-writing {
	color: #1A1A1A;
	float: left;
	font-size: 12px;
	width: 381px;
}

#location-home #featured-project, #location-home #latest-writing,
#location-home #contact-info {
	margin-top: 20px;
	margin-bottom: 10px;
}

#location-home #featured-project img {
	border: 1px solid #ccc;
	float: left;
	margin: 0 10px 10px 0;
	padding: 3px;
}

#location-home #featured-project h2 {
	margin-bottom: 10px;
}

#location-home #featured-project p {
	margin: 0 0 10px 0;
	padding-top: 0;
}

#location-home #latest-writing p {
	margin: 0 0 10px 0;
	padding-top: 0;
}

#location-home #contact-info {
	padding-top: 10px;
}

#location-about #column-two,
#location-404 #column-two,
#location-writing #sidebar,
#location-contact #sidebar,
#location-home #latest-writing {
	float: right;
}

#location-home #content-intro, #location-home #contact-info {
	color: #1A1A1A;
	font-size: 12px;
}

#location-about #column-one h1, #location-about #column-two h1,
#location-404 #column-one h1, #location-404 #column-two h1,
#location-home #featured-project h1, #location-home #latest-writing h1, 
#location-home #contact-info h1 {
	display: none;
}

#location-about #column-one a, #location-about #column-two a {
	text-decoration: underline;
}

#location-about #column-one a:hover, #location-about #column-two a:hover {
	text-decoration: none;
}

#location-about h2,
#location-404 h2,
#location-writing h2,
#location-contact h2,
#location-home h2 {
	background: url(../graphics_2005/gray_stripes.gif) repeat-x;
	font-size: 14px;
	padding-top: 22px;
}

#location-404 #column-one h2 {
	font-size: 150px;
}

#location-home #latest-writing h2 {
	margin-bottom: 10px;
}

#location-about h3,
#location-404 h3,
#location-writing h3,
#location-contact h3,
#location-home h3 {
	color: #1A1A1A;
	font-size: 12px;
	font-weight: bold;
}

#location-about h3 {
	margin: 15px 0 0 0;
}

#location-home h4 {
	color: #666;
	font-size: 10px;
}

#location-about p {
	margin: 0 0 10px 0;
	padding: 0;
}

#location-about #column-one li,
#location-about #column-two li {
	list-style: circle;
	margin-left: 30px;
}

#location-writing ul {
	list-style: none;
}

#location-writing #content ul a {
	text-decoration: none;
}

#location-contact #content li {
	list-style: none;
	margin-top: 10px;
}

#location-contact #content address {
	font-style: normal;
}

#location-home #contact-info {
	clear: both;
}

#location-home .learn-more,
#location-home #featured-project .learn-more {
	margin-top: 5px;
}

#location-home .learn-more a, #location-home .learn-more a:visited {
	background: #E6E6E6;
	border: 1px solid #ccc;
	color: #333;
	padding: 2px 5px 2px 5px;
}

#location-home .learn-more a:hover {
	background: #333;
	color: #fff;
	text-decoration: none;
}

.continued {
	text-decoration: underline;
}

.continued:hover {
	text-decoration: none;
}






/*****
content and sidebar
	(main = 3/4 and right)
	(pages: portfolio)
*****/

#location-portfolio #content {
	color: #1A1A1A;
	float: right;
	font-size: 12px;
	width: 569px;
}

#location-portfolio #content h2 {
	border-bottom: 3px solid #E4E4E4;
	font-size: 30px;
	padding-bottom: 5px;
}

#location-portfolio #content h3 {
	font-size: 12px;
	margin-top: 10px;
}

#location-portfolio #content p {
	margin: 5px 0 20px 0;
	padding: 0;
}

#location-portfolio #content li {
	list-style: circle;
	margin-left: 20px;
}

#location-portfolio #content img {
	border: 1px solid #ccc;
	clear: right;
	float: right;
	margin: 10px 0 0 10px;
	padding: 5px;
}

#screenshots {
}

#location-portfolio #sidebar {
	background: url(../graphics_2005/gray_stripes.gif) repeat-x;
	float: left;
	font-size: 12px;
}

#location-portfolio #sidebar ul {
	list-style: none;
}

#location-portfolio #sidebar h2 {
	border-top: 3px solid #E4E4E4;
	font-size: 12px;
	margin-top: 11px;
	padding-top: 11px;
}

#location-portfolio #sidebar .first {
	border: none;
}

#location-portfolio #sidebar {
	width: 193px;
}






/*****
footer
*****/

#footer {
	background: #ccc url(../graphics_2005/footer.gif) 50% 0% no-repeat;
	clear: both;
	color: #333;
	font-size: 10px;
	line-height: 180%;
	padding: 25px 15px 15px 15px;
	text-align: left;
}

#footer h1 {
	display: none;
}

#footer a {
	color: #333;
	text-decoration: underline;
}

#footer a:hover {
	background: transparent;
	color: #000;
	text-decoration: none;
}

#footer p {
	margin: 5px 0 0 0;
	padding: 0;
}






/*****
replace the banner image with the new worn look
*****/

h1 {
	background: url(../graphics_2006/logo_bw_2006.gif) no-repeat 50% 50%;
	border: none;
	height: 50px;
	padding: 1px;
}

h1 a, h1 a:visited {
	display: block;
	height: 0 !important;
	height /**/:140px; /* for IE5.5's bad box model */
	margin-left: 229px;
	overflow: hidden;
	padding-top: 140px;
	width: 324px;
}

h1 a:hover, h1 a:visited:hover {
	background: transparent;
}
